# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
tipos-variaveis/.vscode/settings.json
sistema-smart-tv/.vscode/settings.json
Terminais-Argumentos/.vscode/settings.json
Terminais-Argumentos/.vscode/launch.json
Terminais-Argumentos/README.md
docs/script-dir/jquery-ui.min.js
docs/script-dir/jquery-ui.min.css
docs/script-dir/jquery-3.6.1.min.js
docs/resources/x.png
docs/resources/glass.png
docs/legal/LICENSE
docs/legal/jqueryUI.md
docs/legal/jquery.md
docs/legal/ASSEMBLY_EXCEPTION
docs/legal/ADDITIONAL_LICENSE_INFO
docs/type-search-index.js
docs/tag-search-index.js
docs/stylesheet.css
docs/search.js
docs/script.js
docs/package-tree.html
docs/package-summary.html
docs/package-search-index.js
docs/overview-tree.html
docs/module-search-index.js
docs/member-search-index.js
docs/jquery-ui.overrides.css
docs/index.html
docs/index-all.html
docs/help-doc.html
docs/element-list
docs/Comentarios.html
docs/Calculadora.html
docs/allpackages-index.html
docs/allclasses-index.html
doc-java/src/Comentarios.java
doc-java/src/Calculadora.java
doc-java/.vscode/settings.json
.gitignore
